<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="images/favicon.ico" type="image/ico">
    <title>About</title>
</head>
<body>
    
    {{>navbar}}

    <!--ABOUT SECTION STARTS-->

    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading" style="color: #5222d0;">About Us</h1>
          <p class="text-center sub-heading" style="font-family :Verdana, Geneva, Tahoma, sans-serif">Matrimony Service with Millions of Success Stories</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text">
               <figure>
                  <img style="height: 400px; width: 400px; position: absolute; top: 37%; left: 15%" src="images/couple2.PNG" alt="image">
               </figure>
            </div>
            
            <!--RIGHT SIDE-->
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
               <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; color: black">WE WILL FIND YOUR PERFECT MATCH</h1>
               
               <p style="color: black;">Welcome to <span class="bold-style"> Marraige Hub </span>
               , your number one source for matchmaking. Making happy and successful marraiges for
               <br> more than 12 years, Marraige Hub is serving 300+ walk-in customers daily. This is the oldest
                and most successful matrimonial site in the world trusted worldwide by people for helping them
                finding their perfect partners.</p>
               
            </div>
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <h2 class="text-center main-heading" style="color: #5222d0;">Our Previous Customers</h2>

      <div class="col-md-4" style="position:absolute; left:12%; height:500px">
                <div class="box" style="background-color: bisque;">
                    <div class="example-div" style="background-color: bisque;">
                            <br>
                            <img style="height: 150px; width: 250px" src="images/example1.jpg" alt="image">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Mary and James</h4>
                    </div>
                </div>
      </div>

      <div class="col-md-4" style="position:absolute; left:48%; height:500px">
                <div class="box" style="background-color: bisque;">
                    <div class="example-div" style="background-color: bisque;">
                            <br>
                            <img style="height: 150px; width: 250px" src="images/example2.jpg" alt="image">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Charles and Annie</h4>
                    </div>
                </div>
      </div>

      <div class="col-md-4" style="position:absolute; top:145%; left:12%; height:500px">
                <div class="box" style="background-color: bisque;">
                    <div class="example-div" style="background-color: bisque;">
                            <br>
                            <img style="height: 150px; width: 250px" src="images/example3.png" alt="image">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Ross and Rachel</h4>
                    </div>
                </div>
      </div>

      <div class="col-md-4" style="position:absolute; top:145%; left:48%; height:500px">
                <div class="box" style="background-color: bisque;">
                    <div class="example-div" style="background-color: bisque;">
                            <br>
                            <img style="height: 150px; width: 250px" src="images/example4.jpeg" alt="image">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Monica and Chandler</h4>
                    </div>
                </div>
      </div>

    </div>

    <!--ABOUT SECTION ENDS-->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    <!--FOOTER SECTION STARTS-->

    <div class="footer-div">
      <p class="footer-text">@2023, Marraige Hub<br>Created by - Aryan Dev Shourie</p>
    </div>

    <!--FOOTER SECTION ENDS-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>